html,
body {
    margin: 0;
    height: 100%;
}

.main {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    height: 100%;
}
